################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRS-Lab1/.vs/PRS-Lab1/FileContentIndex/baf96da9-c394-4988-bc31-c5424efeb0fe.vsidx
/PRS-Lab1/.vs/PRS-Lab1/FileContentIndex/f49de513-069b-423c-96df-e5b80f0ea166.vsidx
/PRS-Lab1/.vs/PRS-Lab1/FileContentIndex/09f18cdd-ed2c-434e-a182-ed5dd3533dca.vsidx
/PRS-Lab2-Serialization/.vs/PRS-Lab2-Serialization/FileContentIndex/0d3ea32e-1c44-4326-a268-cd820fcffda8.vsidx
/PRS-Lab2-Serialization/.vs/PRS-Lab2-Serialization/FileContentIndex/d98a6b68-f035-4ab6-94d5-8ac0e0f00f54.vsidx
/PRS-Lab2-Serialization/.vs/PRS-Lab2-Serialization/FileContentIndex/e08e8ab8-df1c-4b64-8ce3-d85ae5a634b1.vsidx
/PRS-Lab3-REST/PRS-Lab3/.vs/PRS-Lab3/FileContentIndex/01d241dd-b934-4f85-aa2a-6891a76b5058.vsidx
/PRS-Lab3-REST/PRS-Lab3/.vs/PRS-Lab3/FileContentIndex/f9692d14-e8d2-46d8-8f7a-a9d7497d2e39.vsidx
/PRS-Lab3-REST/PRS-Lab3/PRS_Lab3/.vs/PRS_Lab3/FileContentIndex/a98e4cdb-135a-4a81-b1a2-8e8f3ce0e201.vsidx
